[defaults]
inventory_plugins = /root/.ansible/collections/ansible_collections
collections_paths = /root/.ansible/collections:/usr/share/ansible/collections

[inventory]
enable_plugins = aws_ec2, yaml, ini, auto

[plugin_connection]
enable_plugins = community.aws.aws_ssm

[community.aws.aws_ssm]
bucket_name = bucket-gitea
region = us-east-1